<%= render "shared/evaluation_header" %>

<div class="evaluation-main">
  <%# サイドバー %>
  <%= render "evaluations/evaluation_sidebar" %>

  <%# メイン部分 %>
  <div class="evaluation-area">

    <%# 評価対象の表示部分 %>
    <div class="show-suggestion">
      <%= render "suggestions/suggestion" %>
    </div>

    <%# 採点部分 %>
    <%= render "evaluations/evaluation_input"%>
  </div>
</div>