/* suggestions index css */

div.main{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


// サイドバー  ※.他の部分は別のCSSファイルに記載
div.sidebar{
  width: 18vw;
  height: calc(100vh - 20vh);
  display: flex;
  flex-direction: column;
  position: relative; top:0; left:0;
  overflow: auto;
  border-right: solid 1px gray;
}


// メイン部分のcss
div.suggestions-field{
  width: 82vw;
  height: calc(100vh - 20vh);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow: auto;
}

div.suggestion{
  width: calc((100% - 100px) / 3);
  background-color: rgba(#9BF6FF, 0.2);
  margin: 20px 0;
  border: solid 1px #9BF6FF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.dummy-suggestion{
  width: calc((100% - 100px) / 3);
  margin: 20px 0;
}

div.suggestion-top{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.suggestion-title-and-point{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2px 0;
}

div.suggestion div.suggestion-top div.suggestion-title-and-point p.title{
  width: 75%;
  font-size: 20px;
  color: blue;
  margin-left: 20px;
  font-weight: 700;
}

div.suggestion div.suggestion-top div.suggestion-title-and-point p.title a.suggestion-link{
  text-decoration: none;
}

div.suggestion div.suggestion-top div.suggestion-title-and-point p.evaluated-point{
  width: 20%;
  font-size: 16px;
  align-self: flex-start;
  margin-top: 5px;
}

div.suggestion div.suggestion-top p.evaluated-point span.point-better{
  color: blue;
}

div.suggestion div.suggestion-top p.evaluated-point span.point-great{
  color: black;
  background-color: gold;
  padding: 5px;
}

div.suggestion div.suggestion-top p.evaluated-point span.not-evaluated{
  font-weight: 100;
  color: skyblue;
}


.suggestion-category-index{
  padding: 0px 0px 3px 25px ;
}

div.main div.suggestions-field div.suggestion-top p.evaluated-point {
  margin-right: 20px;
  font-weight: 700;
}

.suggestion-middle{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
}

.before-image{
  width: 45%;
  padding: 1px;
  border: 1px solid red;
}

.after-image{
  width: 45%;
  padding: 1px;
  border: 1px solid blue;
}

.suggestion-bottom{
  text-align: center;
}




@media (max-width: 1000px) {
  .suggestion{
    width: 80%;
    background-color: azure;
  }
  p {
    font-size: 25px;
  }
}


/* スマホ表示時 */
/*
@media (max-width: 500px) {
  p {
    font-size: 20px;
  }
}

*/