/* suggestions index css */

.main{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 30px;
}

.suggestions-field{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.suggestion{
  width: calc((100% - 100px) / 3);
  background-color: #E8F6F7;
  margin: 20px 0;
  border: solid 1px aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dummy-suggestion{
  width: calc((100% - 100px) / 3);
  margin: 20px 0;
}

.suggestion-top{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.suggestion-title-and-point{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2px 0;
}

div.main div.suggestions-field div.suggestion div.suggestion-top div.suggestion-title-and-point p.title{
  width: 85%;
  font-size: 25px;
  color: blue;
  margin-left: 20px;
  font-weight: 700;
}

div.main div.suggestions-field div.suggestion div.suggestion-top div.suggestion-title-and-point p.title a.suggestion-link{
  text-decoration: none;
}

div.main div.suggestions-field div.suggestion div.suggestion-top div.suggestion-title-and-point p.evaluated-point{
  width: 15%;
  font-size: 20px;
  align-self: flex-start;
  margin-top: 5px;
}

div.main div.suggestions-field div.suggestion div.suggestion-top p.evaluated-point span.point-better{
  color: blue;
}

div.main div.suggestions-field div.suggestion div.suggestion-top p.evaluated-point span.point-great{
  color: black;
  background-color: gold;
  padding: 5px;
}

div.main div.suggestions-field div.suggestion div.suggestion-top p.evaluated-point span.not-evaluated{
  font-weight: 100;
  color: skyblue;
}


.suggestion-category-index{
  padding: 0px 0px 3px 25px ;
}

div.main div.suggestions-field div.suggestion-top p.evaluated-point {
  margin-right: 20px;
  font-weight: 700;
}



.suggestion-middle{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: no-wrap;
}

.before-image{
  width: 45%;
  padding: 1px;
  border: 1px solid red;
}

.after-image{
  width: 45%;
  padding: 1px;
  border: 1px solid blue;
}

.suggestion-bottom{
  text-align: center;
}




@media (max-width: 1000px) {
  .suggestion{
    width: 80%;
    background-color: azure;
  }
  p {
    font-size: 25px;
  }
}

/* スマホ表示時 */
/*
@media (max-width: 500px) {
  p {
    font-size: 20px;
  }
}

*/