/* This css is used by new and edit action. */


.new-suggestion{
  display: flex;
  flex-direction: column;
  margin: 0 30px ;
  padding: 30px 0;
}


.new-suggestion-top{
  display: flex;
  padding-top: 10px;
}

.new-suggestion-top-left{
  width: 70%;
  height: 250px;
/*  background-color: blueviolet; */
  padding: 10px 20px;
}

.suggestion-input-form{
  width: 350px;
  height: 30px;
  margin-bottom: 20px;
}

.suggestion-input-target{
  width: 30%;
  height: 30px;
}

.new-suggestion-top-right{
  width: 30%;
  height: 250px;
/*  background-color: burlywood; */
  padding: 10px 20px;
}

.suggestion-map{
  width: 150px;
}

.new-suggestion-explanation-area{
  display: flex;
  justify-content: space-between;
  margin: 10px 30px 0 30px; 
}

.new-suggestion-explanation{
  width: 45%;
}

.suggestion-explanation-box{
  margin: 10px 30px;
  width: 100%;
}

.new-suggestion-image-area{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}

.image-file{
  margin-left: 30px;
}

.new-suggestion-effect{
  margin: 20px 30px;
}

.suggestion-submit{
  display: flex;
  justify-content: center;
}

.submit-btn{
  width: 170px;
  height: 40px;
  font-size: 25px;
  background-color: skyblue;
  border: solid 2px slategrey;
  border-radius: 10px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  align-self: center;
}

.submit-btn:hover{
  background-color: lightsalmon;
}