
div.show-suggestion {
  display: flex;
  flex-direction: column;
//  background-image: image-url("suggestions_new_background_image.jpg");
//  background-position: center;
//  background-size: cover;
//  background-repeat: no-repeat;
}

// background-maskはindexで定義しているものを流用する

// _suggestion.html.erbでのcss
div.show-title-and-suggestion-info{
  display: flex;
  margin-top: 20px;
}

div.show-title-and-suggestion-info div.show-title{
  width: 58vw;
  font-size: 30px;
  font-weight: 700;
  color: blue;
  text-align: start;
  margin-left: 7%;
}

div.show-title-and-suggestion-info div.show-suggestion-info{
  width: 25vw;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 10vw;
}

div.show-title-and-suggestion-info div.show-suggestion-info div.show-suggestion-info-contents{
  display: flex;
  flex-direction: row;
  font-weight: 500;
}

div.show-title-and-suggestion-info div.show-suggestion-info div.show-suggestion-info-contents p.show-suggestion-info-title{
  width: 30%;
  text-align: center;
  border: solid 1px black;
  padding: 3px 0;
  background-color: rgba($color: whitesmoke, $alpha: 0.7);
}

div.show-title-and-suggestion-info div.show-suggestion-info div.show-suggestion-info-contents p.show-suggestion-info-content{
  width: 70%;
  text-align: start;
  border: solid 1px black;
  padding: 3px 0 3px 30px;
  background-color: rgba($color: whitesmoke, $alpha: 0.7);
}

div.show-target-info-and-map{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 7vw 0 7vw;
  background-color: rgba(yellowgreen, 0.4);
}

div.show-target-info-and-map div.show-target-map{
  width: 50%;
  margin: 10px 3% 0 3%;
  // 仮↓
  height: 300px;
}

div.show-target-info-and-map div.show-target-info{
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
  margin-right: 7%;
}

// 改善箇所の場所を示す部分
div.show-target-info-and-map div.show-target-info ul li{
  border: solid 1px black;
  padding: 2px 0 2px 10px;
}

div.show-target-contents{
  display: flex;
  flex-direction: row;
}

p.show-target-title{
  width: 30%;
  border: solid 1px white;
  padding: 2px;
  text-align: center;
  background-color: rgba($color: whitesmoke, $alpha: 0.7);
}

p.show-target-content{
  width: 70%;
  border: solid 1px white;
  padding: 2px 0 2px 20px;
  text-align: start;
  background-color: rgba($color: whitesmoke, $alpha: 0.7);
}


// 問題点とあるべき姿が記載される部分

div.show-issue-and-ideal{
  display: flex;
  flex-direction: row;
}

div.show-issue-and-ideal div.show-issue{
  width: 40vw;
  margin: 20px 3vw 0 7vw;
  display: flex;
  flex-direction: column;
  background-color: rgba( red, 0.4);
  align-items: center;
}

div.show-issue-and-ideal div.show-ideal{
  width: 40vw;
  margin: 20px 7vw 0 3vw;
  display: flex;
  flex-direction: column;
  background-color: rgba( blue, 0.4);
  align-items: center;
}


div.show-issue-and-ideal div.show-issue div.show-issue-comment{
  width: 90%;
  height: 150px;
  border: solid 1px white;
  padding: 5px 10px;
  margin: 5px 0 10px 0;
  text-align: start;
  background-color: rgba(whitesmoke, 0.7);
}

div.show-issue-and-ideal div.show-ideal div.show-ideal-comment{
  width: 90%;
  height: 150px;
  border: solid 1px white;
  padding: 5px 10px;
  margin: 5px 0 10px 0;
  text-align: start;
  background-color: rgba(whitesmoke, 0.7);
}

.show-issue-and-ideal-image{
  width: 40%;
  margin: 5px 0 5px 6%;
}

.show-issue-and-ideal-title{
  margin-top: 5px;
  font-size: 18px;
  padding: 5px 0;
}

div.show-effect{
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

div.show-effect div.show-effect-field{
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(aqua, 0.5);
}

div.show-effect p.show-effect-title{
  font-size: 18px;
  margin: 5px 0;
}

div.show-effect p.show-effect-comment{
  margin: 3px 2% 10px 2%;
  padding: 5px 10px;
  width: 96%;
  height: 120px;
  border: solid 1px white;
  background-color: rgba(whitesmoke, 0.7);
}


// 次と前の提案の切り替え部分

div.show-prev-next-link{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 20px;
}

div.show-prev-next-link a.show-page-prev{
  text-decoration: none;
  color: blue;
  margin: 5px 10%;
}

div.show-prev-next-link a.show-page-next{
  text-decoration: none;
  color: blue;
  margin: 5px 10%;
}

div.show-prev-next-link p.show-page-prev-disable{
  text-decoration: none;
  margin: 5px 10%;
}

div.show-prev-next-link p.show-page-next-disable{
  text-decoration: none;
  margin: 5px 10%;
}


div.show-suggestion div.background-mask div.link{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

div.show-suggestion div.background-mask div.link a.link-btn-show-to-edit{
  width: 180px;
  height: 30px;
  text-decoration: none;
  color: gray;
  background-color: skyblue;
  border: solid 0.5px cornsilk ;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
}

div.show-suggestion div.background-mask div.link a.destroy-btn{
  width: 180px;
  height: 30px;
  text-decoration: none;
  color: beige;
  background-color: rgba( red, 0.7);
  border: solid 1px cornsilk ;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
}

div.show-suggestion div.background-mask div.link a.link-btn-show-to-evaluation{
  width: 180px;
  height: 30px;
  text-decoration: none;
  color: beige;
  background-color: rgba( royalblue, 0.8);
  border: solid 1px cornsilk ;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
}


// 評価結果
div.show-evaluation-field{
  width: 96vw;
  background-color: royalblue;
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 2%;
  padding: 10px 0;
}

div.show-evaluation-field h2.title{
  width: 120px;
  font-size: 25px;
  border: ridge 3px black;
  background-color: skyblue;
  text-align: center;
}

div.show-evaluation-field div.show-evaluation-comment-and-score{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 10px 3%;
}

div.show-evaluation-field div.show-evaluation-comment-and-score p.show-evaluation-comment-form{
  width: 70%;
  height: 120px;
  margin-left: 3%;
  border: solid 1px white;
  background-color: rgba(whitesmoke, 0.7);
  padding: 5px 10px;
}

div.show-evaluation-field div.show-evaluation-comment-and-score p.show-evaluation-score-form{
  width: 50px;
  margin-right: 10%;
  border: solid 1px white;
  background-color: rgba(whitesmoke, 0.7);
  padding: 5px 10px;
  text-align: center;
}

div.show-evaluation-field div.link{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

div.show-evaluation-field div.link a.link-btn-show-to-evaluation-edit{
  width: 180px;
  height: 30px;
  text-decoration: none;
  color: white;
  background-color: blue;
  border: solid 0.5px cornsilk ;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
}

div.show-evaluation-field div.link a.destroy-btn-evaluation{
  width: 180px;
  height: 30px;
  text-decoration: none;
  color: beige;
  background-color: rgba( red, 0.9);
  border: solid 1px cornsilk ;
  font-size: 20px;
  padding: 5px 10px;
  text-align: center;
}