.suggestion-btn {
  width: 120px;
  height: 120px;
  background: lightyellow;
  text-align: center;
  border-radius: 6%;
  border: solid 0.5px grey ;
  bottom: 32px;
  right: 32px;
  position: fixed;
}

.suggestion-btn-text {
  color: blue;
  display: block;
  font-size: 18px;
  text-decoration: none;
}

.suggestion-btn-icon {
  width: 95%;
}
