div.evaluation-main{
  display: flex;
  flex-direction: row;
}

// メインの提案と評価部分
.none-evaluation-area{
  width: 82vw;
  height: 80vh;
}

div.none-evaluation-area div.none-evaluation-items{
  width: 96%;
  height: 96%;
  background-image: image-url("evaluations-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2%;
}

div.none-evaluation-area div.none-evaluation-items p{
  color: aliceblue;
  margin-left: 12%;
  font-size: 40px;
}



