div.evaluation-main{
  display: flex;
  flex-direction: row;
}


// メインの提案と評価部分
div.evaluation-main div.evaluation-area{
  width: 82vw;
  height: 80vh;
}

div.evaluation-main div.none-evaluation-items{
  width: 82vw;
  height: 80vh;
  color: aliceblue;
  align-self: center;
  background-image: image-url("evaluations-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.evaluation-main div.none-evaluation-items p{
  margin-left: 12%;
  font-size: 40px;
}



