.evaluation-header{
  width: 100vw;
  height: 20vh;
  background-image: image-url('sugestionbox_evaluation_header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  display: flex;
  flex-direction: row;
}

