.evaluation-header{
  width: 100vw;
  height: 20vh;
  background: linear-gradient(175deg, #BDB2FF, #FFFFFF 65%);
  display: flex;
  flex-direction: row;
}

div.evaluation-header div.left-header div.user-info-field{
  font-size: 18px;
  color:  aliceblue;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6px;
  align-items: center;
}

// 右側のヘッダー
div.evaluation-header div.right-header{
  display: flex;
  flex-direction: column;
  align-items: start;
}

div.evaluation-header div.right-header p.evaluation-page-title{
  font-size: 40px;
  color: black;
  opacity: 0.7;
  padding: 5px 10px;
  margin-left: 10%;
  text-shadow: 2px 2px 1px gray;
}