
.header{
  width: 100vw;
  height: 20vh;
  background-image: image-url('suggestions-box_header_image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.left-header{
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-title{
  color: beige;
  font-size: 48px;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
}

.user-info-field{
  font-size: 18px;
  color:  aliceblue;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 6px;
  align-items: center;
}

div.header div.left-header div.user-info-field div.more ul.more_list{
  display: none;
}

div.header div.left-header div.user-info-field div.more:hover ul.more_list{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  position: absolute;
}

div.header div.left-header div.user-info-field div.more span.menu{
  color: white;
  background-color: salmon;
  opacity: 0.8;
  padding: 7px 15px;
  border-radius: 20%;
  font-weight: 500;
}

div.header div.left-header div.user-info-field div.more:hover ul.more_list li{
  color: aliceblue;
  font-size: 18px;
  text-decoration: none;
  padding: 3px 10px;
  background-color: whitesmoke;
  border: solid 0.5px black;
  border-radius: 7%;
  margin-left: 7px;
}

div.header div.left-header div.user-info-field div.more:hover ul.more_list li:hover{
  background-color: aqua;
  opacity: 0.6;
}

.right-header{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-search-area{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  margin-top: 4%;
}

.header-search{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-form{
  width: 500px;
  height: 30px;
  background-color: whitesmoke;
  border: solid 1px black;
}

.search-btn{
  width: 32px;
  height: 32px;
  background-color: lightslategray;
  border: solid 1px black;
}

.filter-contents{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 7px;
  margin-left: 100px;
  margin-right: 100px;
}

.filter-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.filter-label{
  width: 90%;
  font-size: 14px;
  font-weight: 700;
  background-color: rgba(white, 0.5);
  border-radius: 10%;
  text-align: center;
}

.filter-start-date-box{
  width: 100px;
  height: 24px;
  border: solid 0.5px black;
  font-size: 16px;
  padding: 1px;
  text-align: center;
  background-color: whitesmoke;
}

.filter-box{
  width: 100px;
  height: 24px;
  border: solid 0.5px black;
  font-size: 16px;
  padding: 1px;
  text-align: center;
  background-color: whitesmoke;
}

.filter-department-box{
  width: 200px;
  height: 24px;
  border: solid 0.5px black;
  font-size: 16px;
  padding: 1px;
  text-align: center;
  background-color: whitesmoke;
}

.filter-score-box{
  width: 80px;
  height: 20px;
  border: solid 0.5px black;
  font-size: 14px;
  padding: 1px;
  text-align: center;
  background-color: rgba( royalblue, 0.8 );
}


.filter-result-box{
  width: 150px;
  height: 24px;
  border: solid 0.5px black;
  font-size: 14px;
  padding: 1px;
  text-align: start;
  background-color: rgba( goldenrod, 0.8 );
}