
.header{
  width: 100vw;
  height: 20vh;
  background: linear-gradient(175deg, #A0C4FF, #FFFFFF 65%);
  display: flex;
  flex-direction: row;
}

.left-header{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-title{
  color: white;
  font-size: 48px;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
  text-shadow: 2px 4px 4px gray;
}

.right-header{
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-search-area{
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  margin-top: 4%;
}

.header-search{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-form{
  width: 500px;
  height: 30px;
  background-color: whitesmoke;
  border: solid 1px black;
  border-radius: 6px 0 0 6px;
}

.search-btn{
  width: 40px;
  height: 32px;
  background-color: lightslategray;
  border: solid 1px black;
  border-radius: 0 6px 6px 0;
}

.filter-contents{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 7px;
}

.filter-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-label{
  width: 90%;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.filter-dates{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filter-date-box{
  width: 130px;
  height: 20px;
  border: solid 0.5px black;
  border-radius: 5px;
  font-size: 12px;
  padding: 1px;
  text-align: center;
  background-color: rgba(#9BF6FF, 0.7);
}

.filter-box{
  width: 100px;
  height: 24px;
  border: solid 0.5px black;
  border-radius: 5px;
  font-size: 16px;
  padding: 1px;
  text-align: center;
  background-color: rgba(#9BF6FF, 0.7);
}

.filter-department-box{
  width: 160px;
  height: 24px;
  border: solid 0.5px black;
  border-radius: 5px;
  font-size: 12px;
  padding: 1px;
  text-align: center;
  background-color: rgba(#9BF6FF, 0.7);
}

.filter-score-box{
  width: 80px;
  height: 24px;
  border: solid 0.5px black;
  border-radius: 5px;
  font-size: 14px;
  padding: 1px;
  text-align: center;
//  background-color: rgba( royalblue, 0.8 );
  background-color: #A0C4FF;
}


.filter-result-box{
  width: 160px;
  height: 24px;
  border: solid 0.5px black;
  border-radius: 5px;
  font-size: 14px;
  padding: 1px;
  text-align: start;
  background-color: #FFD6A5;
}

