<div class="evaluation-header">
  <div class="left-header">
    <%= link_to "Suggestions Box", root_path, class:"header-title"%>
  </div>
  <div class="right-header">
    <p class="evaluation-page-title">
      〜 評価ページ 〜
    </p>
  </div>
</div>