<div class="footer">
  <div class="registration-background-mask">
    <div class="footer-top">
      <div class="footer-left">
        <p>＜よい提案の書き方＞</p>
        <p>＜窓口への要望＞</p>
      </div>
      <div class="footer-right">
        <p>集計へのリンク</p>
      </div>
    </div>
    <p class="footer-bottom">
      Suggestions Boxにより、活発な企業活動が行われることを期待しています。
    </p>
  </div>
</div>
