<div class="header">
  <div class="left-header">
    <%= link_to "Suggestions Box", root_path, class:"header-title"%>
    <% if user_signed_in? %>
      <div class="sign-in-out-field">
        <p>
          　　ようこそ、<%= (@user.family_name + " " + @user.first_name) %>さん
        </p>
        <p class="sign-in-out-btn">
          <%= link_to "サインアウト", destroy_user_session_path, method: :delete %>
        </p>
      </div>
    <%else%>
      <div class="sign-in-out-btn">
        <%= link_to "ログイン", new_user_session_path %>
      </div>
    <% end %>
  </div>
  <div class="right-header">
    <div class="header-search-area">
      <div class="header-search">
        <div class="search-form"></div>
        <div class="search-btn"></div>
        <%# 本番は下記の検索フォームを入れ込む %>
        <%#= form_with "#", root_path , placeholder: "ワード検索" , class:"header-search", local: true do |f| %>
          <%#= f.text_field :keyword, class:search-form %>
          <%#= f.submit class:"search-btn" %>
        <%# end %>
      </div>
      <div class="header-items">
        <p class="header-item">時期</p>
        <p class="header-item">カテゴリー</p>
        <p class="header-item">部署</p>
        <p class="header-item">評価</p>
      </div>
    </div>
  </div>
</div>