<div class="result-header">
  <div class="left-header">
    <%= link_to "Suggestions Box", root_path, class:"header-title"%>
  </div>
  <div class="right-header">
    <p class="result-page-title">
      〜 最終評価ページ 〜
    </p>
    <p class="result-department">
    </p>
  </div>
</div>