
<%= render "shared/result_header" %>

<div class="result-main">
  <div class="sidebar">
    <%= render "suggestions/sidebar"%>
    <%= render "results/result_sidebar" %>
  </div>
  <div class="none-result-area">
    <div class="none-result-items">
      <p>最終評価対象を選択して下さい</p>
    </div>
  </div>
</div>