
div.result-main{
  display: flex;
  flex-direction: row;
}

// メインの提案と評価部分
div.result-main div.result-area{
  width: 82vw;
  height: 80vh;
  overflow: auto;
}

div.result-main div.none-results-items{
  width: 82vw;
  height: 80vh;
  color: aliceblue;
  align-self: center;
  background-image: image-url("evaluations-index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.result-main div.none-results-items p{
  margin-left: 12%;
  font-size: 40px;
}



