<%= render "header" %>

<div class="main">
  <div class="sugestions-fieeld">
    <div class="suggestion">
      <div class="top">
        <p class="title">テストタイトル</p>
        <p class="evaluation-point">80点</p>
      </div>
      <div class="middle">
        <div class="after-image"></div>
        <div class="before-image"></div>
      <div class="suggestion-bottom">
        <p class="user-name">Aさん<p>
        <p class="user-department">製造部Z課<p>
      </div>
    </div>
  </div>
  <div class="right-bar">
  </div>
</div>