<%= render "shared/header" %>

<div class="show-suggestion">

  <div class="title">
    <%= @suggestion.name, class:"show-title"%>
  </div>

  <%= render "suggetions/suggestion" %>

</div>

<%= render "shared/footer" %>