<div class="footer">
  <div class="footer-top">
    <div class="footer-left">
      <p>＜よい提案の書き方＞</p>
      <p>＜窓口への要望＞</p>
    </div>
    <div class="footer-right">
      <p>集計へのリンク</p>
    </div>
  </div>
  <p class="footer-bottom">
    Copyright (c) F.Mio. All Rights Reserved.
  </p>
</div>
